NodeRED/blocos.json
[
    {
        "id": "625953a14dec4732",
        "type": "mqtt in",
        "z": "eb4b3e508e726d44",
        "name": "",
        "topic": "/tensao",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "34bae1a6fd33cae2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "461a367a29993720",
                "91517b73dfc8c7e6",
                "63b03d8dca4150ea"
            ]
        ]
    },
    {
        "id": "461a367a29993720",
        "type": "ui_chart",
        "z": "eb4b3e508e726d44",
        "name": "",
        "group": "ef6909595160bb6e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "60",
        "ymax": "180",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b31e1e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 510,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "91517b73dfc8c7e6",
        "type": "debug",
        "z": "eb4b3e508e726d44",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "63b03d8dca4150ea",
        "type": "ui_text",
        "z": "eb4b3e508e726d44",
        "group": "ef6909595160bb6e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tensão [V]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "4592ba9daf6e1081",
        "type": "mqtt in",
        "z": "eb4b3e508e726d44",
        "name": "",
        "topic": "/corrente",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "34bae1a6fd33cae2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "02b84525b333d664",
                "d7ef24c22ae7a23f",
                "5c69df11e32b93f3"
            ]
        ]
    },
    {
        "id": "02b84525b333d664",
        "type": "ui_chart",
        "z": "eb4b3e508e726d44",
        "name": "",
        "group": "e3a90dabd4c567b0",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "50",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 510,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d7ef24c22ae7a23f",
        "type": "debug",
        "z": "eb4b3e508e726d44",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 420,
        "wires": []
    },
    {
        "id": "5c69df11e32b93f3",
        "type": "ui_text",
        "z": "eb4b3e508e726d44",
        "group": "e3a90dabd4c567b0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Corrente [A]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "a4ed3829d4606e2c",
        "type": "mqtt in",
        "z": "eb4b3e508e726d44",
        "name": "",
        "topic": "/potencia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "34bae1a6fd33cae2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 520,
        "wires": [
            [
                "1dfd05114a6724a9",
                "1725870cabff0e29",
                "3a63070b8bc594bd"
            ]
        ]
    },
    {
        "id": "1dfd05114a6724a9",
        "type": "ui_chart",
        "z": "eb4b3e508e726d44",
        "name": "",
        "group": "b3d3fa5ff04ef564",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b31e1e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 510,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "1725870cabff0e29",
        "type": "debug",
        "z": "eb4b3e508e726d44",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 560,
        "wires": []
    },
    {
        "id": "3a63070b8bc594bd",
        "type": "ui_text",
        "z": "eb4b3e508e726d44",
        "group": "b3d3fa5ff04ef564",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Potência [kW]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "4cf3fcf0e4790783",
        "type": "mqtt in",
        "z": "eb4b3e508e726d44",
        "name": "",
        "topic": "/energia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "34bae1a6fd33cae2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 660,
        "wires": [
            [
                "6bb612bd418e712f",
                "0ea10dc2075a2aaf",
                "540d9f714c2efb7b",
                "d5161357b1ed82fa"
            ]
        ]
    },
    {
        "id": "6bb612bd418e712f",
        "type": "ui_chart",
        "z": "eb4b3e508e726d44",
        "name": "",
        "group": "5f656195a6a49faf",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "50",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 510,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "0ea10dc2075a2aaf",
        "type": "debug",
        "z": "eb4b3e508e726d44",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 700,
        "wires": []
    },
    {
        "id": "540d9f714c2efb7b",
        "type": "ui_text",
        "z": "eb4b3e508e726d44",
        "group": "5f656195a6a49faf",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Energia [kWh]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 540,
        "y": 620,
        "wires": []
    },
    {
        "id": "603a6ca50a91fc56",
        "type": "ui_text",
        "z": "eb4b3e508e726d44",
        "group": "7e002a23cca29376",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tarifa [R$]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 740,
        "wires": []
    },
    {
        "id": "d5161357b1ed82fa",
        "type": "function",
        "z": "eb4b3e508e726d44",
        "name": "function 1",
        "func": "var num = msg.payload * 0.85\nnum = num.toFixed(2)\nmsg.payload = num\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 780,
        "wires": [
            [
                "603a6ca50a91fc56",
                "c835b83a367bba0b",
                "9cf8a3c62b859996"
            ]
        ]
    },
    {
        "id": "c835b83a367bba0b",
        "type": "debug",
        "z": "eb4b3e508e726d44",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 820,
        "wires": []
    },
    {
        "id": "9cf8a3c62b859996",
        "type": "ui_chart",
        "z": "eb4b3e508e726d44",
        "name": "",
        "group": "7e002a23cca29376",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "50",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 690,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "34bae1a6fd33cae2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "ec2-54-210-39-119.compute-1.amazonaws.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ef6909595160bb6e",
        "type": "ui_group",
        "name": "Tensão",
        "tab": "1aa758032ba4d66c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e3a90dabd4c567b0",
        "type": "ui_group",
        "name": "Corrente",
        "tab": "1aa758032ba4d66c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b3d3fa5ff04ef564",
        "type": "ui_group",
        "name": "Potência",
        "tab": "1aa758032ba4d66c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5f656195a6a49faf",
        "type": "ui_group",
        "name": "Energia",
        "tab": "1aa758032ba4d66c",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7e002a23cca29376",
        "type": "ui_group",
        "name": "Tarifa",
        "tab": "1aa758032ba4d66c",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1aa758032ba4d66c",
        "type": "ui_tab",
        "name": "Gráficos",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
